@use 'variables';

.menu__mobile {
	display: flex;
	align-items: center;
	justify-content: center;
    margin-right: 24px;
	
	&_button {
		position: relative;
		height: 26px;
		width: 40px;
		cursor: pointer;
		background-color: transparrent;
			
		&.cross {
			span {
				opacity: 0;
			}
			&.menu__mobile_button:before,
			&.menu__mobile_button:after  {
				top: 40%;
			}
			&.menu__mobile_button:before {
				transform: rotate(45deg);
			}
			&.menu__mobile_button:after {
				transform: rotate(-45deg);
			}
		}

		span,
		&:before, 
		&:after {
			display: block;
			position: absolute;
			height: 6px;
			width: 100%;
			background-color: variables.$logo-color;
			border-radius: 6px;
			opacity: 1;
		}
		&:before, 
		&:after {
			content: "";
			transition: top 1s cubic-bezier(.23,1,.32,1),transform .5s cubic-bezier(.23,1,.32,1);
		}
	
		span {
			top: 50%;
			transform: translateY(-50%);
		}
		&:before {
			top: 0;
		}
		&:after {
			top: calc(100% - 6px);
		}}}
