@use 'variables';

$breakpoint-desktop: 1200px;

$breakpoint-tablet: 740px;


@media (min-width: $breakpoint-desktop) {

  .card--ireland-gif{
    background-image: url(../img/ireland-moher-gif.gif);
  }

ul{
  font-size: 16px;
}  

.card--intro{
  background-attachment: fixed;
}

  /* Zoom In #1 */
.hover01 {
	transform: scale(1);
	transition: .35s ease-in-out;
}

.hover01:hover {
	transform: scale(1.1);
}


    .card-landing:nth-child(1) h1{
        font-size: variables.$xxl-space*2.5;
        line-height: variables.$xxl-space*2.5;
    }

    .card-landing:nth-child(8) h1{
        font-size: variables.$xxl-space*2;
        line-height: variables.$xxl-space*2;
    }

    .container-landing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
      }
      
      .card-landing:nth-child(1) {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 100%;
        height: calc(100vh - 64px);
      }
      
      .card-landing:nth-child(2), .card-landing:nth-child(3){
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 50%;
        height: 70vh;
        
      }
      
      .card-landing:nth-child(4), .card-landing:nth-child(5), .card-landing:nth-child(6), .card-landing:nth-child(7){
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 20%;
        margin: variables.$xl-space variables.$space;
      }
      
      .card-landing:nth-child(8) {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 70%;
        height: 70vh;
      }

.firstcard-fullscreen{
  height: calc(100vh - 64px);
}

.firstcard-fullscreen h1{
  font-size: variables.$xxl-space*2.5;
  line-height: variables.$xxl-space*2.5;
}

}



@media (max-width: $breakpoint-tablet){
  .container-landing{
    flex-direction: column;
  }
}


@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {

  .card--ireland-gif{
    background-image: url(../img/ireland-moher-gif.gif);
    background-attachment: fixed;
  }

    .container-landing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
      }

    .card-landing:nth-child(4), .card-landing:nth-child(5), .card-landing:nth-child(6), .card-landing:nth-child(7){
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 45%;
        margin: variables.$xl-space variables.$space;
        
      }
    
}
