@use 'variables';

$breakpoint-desktop: 1200px;

$breakpoint-tablet: 740px;

@media (min-width: 1375px){ 
  
.white-color:hover{
  color: variables.$white-color;
}

.white-colorbg{
background-color: variables.$first-color;

}

.white-colorbg:hover{
  background-color: variables.$first-color;
  color: variables.$white-color;
}

.unwrap:hover p{
background-color: variables.$first-color;
color: variables.$white-color;
}

.makebig:hover{
  // background-color: variables.$first-color;
  color: variables.$white-color;
  }
  
  .white-colorbg a{
  transform: scale(1);
  transition: .35s ease-in-out;
  }
  
  .white-colorbg:hover .white-color{
    color: variables.$white-color;
    transform: scale(1.1);
}

.white-colorbg:hover a{
  transform: scale(1.1);
}

.margin-xl{
  margin: 0 0 0 8px;

}

.menu-icon{
  display: none;
}

.menu{
  display: flex;
  align-items: center;
}

.unwrap{
  margin: 0;
  margin-right: 32px;
}

.unwrap li{
  position: absolute;
  left: 32px;
}
}


@media (min-width: $breakpoint-desktop) {

 
  .height-70{
    
    height: 100vh;
    padding: 24px;
  }

  .container-fullscreen{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .item-fullscreen-50{
    width: 50%;
    max-width: 600px;
    margin-bottom: 5%;
    flex-grow: 0;
    flex-shrink: 1;
  }
  .item-order-4{
    order: 4;
  }

  .item-order-3{
    order: 3;
  }

  .item-order-1{
    order: 1;
  }

  .item-fullscreen-100{
    width: 100%;
  }

  .font-16{
    font-size: variables.$unit*2;
  }
  .space-top-16{
    padding-top: 16px;
}

  .card--ireland-gif{
    background-image: url(../img/ireland-moher-gif.gif);
  }

ul{
  font-size: 16px;
}  

.card--intro{
  background-attachment: fixed;
}

  /* Zoom In #1 */
.hover01 {
	transform: scale(1);
	transition: .35s ease-in-out;
}

.hover01:hover {
	transform: scale(1.1);
}


    .card-landing:nth-child(1) h1{
        font-size: variables.$xxl-space*2.5;
        line-height: variables.$xxl-space*2.5;
    }

    .card-landing:nth-child(8) h1{
        font-size: variables.$xxl-space*2;
        line-height: variables.$xxl-space*2;
    }

    .container-landing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
      }
      
      .card-landing:nth-child(1) {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 100%;
        height: calc(100vh - 64px);
      }
      
      .card-landing:nth-child(2), .card-landing:nth-child(3){
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 50%;
        height: 70vh;
        
      }
      
      .card-landing:nth-child(4), .card-landing:nth-child(5), .card-landing:nth-child(6), .card-landing:nth-child(7){
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 20%;
        margin: variables.$xl-space variables.$space;
      }
      
      .card-landing:nth-child(8) {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 70%;
        height: 70vh;
      }

.firstcard-fullscreen{
  height: calc(100vh - 64px);
}

.firstcard-fullscreen h1{
  font-size: variables.$xxl-space*2.5;
  line-height: variables.$xxl-space*2.5;
}

}



@media (max-width: $breakpoint-tablet){

  
  .container-landing{
    flex-direction: column;
  }
}


@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {

  .hover01 {
    transform: scale(1);
    transition: .35s ease-in-out;
  }
  
  .hover01:hover {
    transform: scale(1.1);
  }

  .height-70{
    height: 70vh;
  }

  .container-fullscreen{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .item-fullscreen-50{
    width: 50%;
    max-width: 600px;
    margin-bottom: 5%;
    flex-grow: 0;
    flex-shrink: 1;
  }

  .item-order-4{
    order: 4;
  }

  .item-order-3{
    order: 3;
  }

  .item-order-1{
    order: 1;
  }

  .height-70{
    height: 70vh;
  }

  .card--ireland-gif{
    background-image: url(../img/ireland-moher-gif.gif);
    background-attachment: fixed;
  }

    .container-landing {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
      }

    .card-landing:nth-child(4), .card-landing:nth-child(5), .card-landing:nth-child(6), .card-landing:nth-child(7){
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        width: 45%;
        margin: variables.$xl-space variables.$space;
        
      }
    
}
