@use 'variables';

nav{
    z-index: 1;
    align-self: flex-start;
    background-color: variables.$first-color;
    list-style: none;
    color: variables.$white-color;
    position: absolute;
    right: 0;
    width: 60%;
}

.burger{
    position: absolute;
    right: 5%;
    top: 0;
}

nav ul{
    display: none;
    padding: 0;
    margin: 0;
}

nav ul ul{
    padding: 0;
}

nav ul li{
    display: none;
}

.unwrap:hover li{
    display: block;
    padding: 0;
}


.white-colorbg{
    padding: 0;
}

.white-colorbg:hover{
    background-color: variables.$white-color;
    color: variables.$first-color;
}

.white-colorbg:hover .white-color{
    color: variables.$first-color;
}