@use 'variables';

body{
    background-color: variables.$white-color;
}

h1 {
    font-family: variables.$title-font;
    font-style: normal;
    font-weight: 900;
    font-size: variables.$xl-space;
    line-height: variables.$xxl-space;
    padding: variables.$medium-space;
    color: variables.$white-color;
    text-align: right;
}

h2 {
    font-family: variables.$title-font;
    font-style: normal;
    font-weight: 700;
    font-size:variables.$big-space;
    line-height: variables.$big-space;
    padding: variables.$medium-space;
}

h3{
    font-family: variables.$title-font;
    font-style: normal;
    font-weight: 700;
    color: variables.$logo-color;
    font-size:variables.$big-space;
    line-height: variables.$big-space;
    padding: variables.$medium-space variables.$medium-space variables.$micro-space;
}

ul {
    font-family: variables.$text-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: variables.$big-space;
    padding: 0;
    list-style: none;
    margin: 0 variables.$medium-space variables.$unit;
}

a {
    font-family: variables.$text-font;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: variables.$space;
    color: variables.$first-color;
    text-decoration: none;
    padding-bottom: variables.$xl-space;
    padding-right: variables.$xl-space;
}

.card-link{
    margin: 0;
    padding: 0;
}
