@use 'variables';

.centrar-item{
    justify-content: center;
    align-items: center;
}

.white-color{
    color: white;

}

.green-color{
    color: variables.$first-color !important;;
}

.margin-xl{
    margin: variables.$xl-space;
    line-height: variables.$xl-space;
}

.self-align-end{
    align-self: flex-end;
}

.cardtext-align{
    text-align: left;
    align-items: flex-start;
}

.text-center{
    text-align: center;
}