@use 'variables';

.centrar-item{
    justify-content: center;
    align-items: center;
}

.white-color{
    color: white;

}

.green-color{
    color: variables.$first-color !important;;
}

.margin-xl{
    margin: variables.$xl-space;
    line-height: variables.$xl-space;
}

.self-align-end{
    align-self: flex-end;
}

.cardtext-align{
    text-align: left;
    align-items: flex-start;
}

.text-center{
    text-align: center;
}

.space-top-12{
    padding-top: 12px;
}

.space-top-32{
    padding-top: 32px;
}

.space-32{
    padding: 32px 0;
}

.margin-top-32{
    margin-top: 32px;
}

.max-width-800{
    max-width: 800px;
}