

// COLOR PRINCIPAL TEXTOS, TITULOS, Y DESTACADOS
$first-color: hsla(178, 95%, 16%, 1);

// COLOR LOGOS Y CONTRASTES
$logo-color: hsla(44, 99%, 64%, 1);

$white-color: white;

$second-color:hsla(29, 98%, 50%, 1);

$third-color: hsla(38, 98%, 50%, 1);

// UNIDADES 
$unit: 8px;
$mini-space: $unit*1.75;
$medium-space: $unit*2;
$space: $unit*2.25;
$big-space: $unit*3;
$xl-space: $unit*4;
$xxl-space: $unit*5;

// TIPOGRAFIAS
$text-font: 'Montserrat', sans-serif;
$title-font: 'Catamaran', sans-serif;
